@import url(/styles/variables.css);


/* ========================
   BUTTONS (GLOBAL)
======================== */
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: var(--btn--small--border-radius);
    padding: var(--btn--small--padding);
    font-family: var(--font-family--display);
    font-weight: var(--font-family--display-weight);
    font-size: var(--btn--small--font-size);
    line-height: var(--btn--small--line-height);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

/* ajustes personalizados */
.contact__btn {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: var(--font-family--display--weight);
    text-decoration: none;
    width: 15rem;
    padding: var(--btn--medium--padding);
    background-color: var(--color--neutral-00);
    color: var(--color--neutral-09);
}


/* ========================
   NAVIGATION
======================== */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    background-color: var(--color--neutral-01);
    /* box-shadow: 0 1px 0 #DBDFE5; */
}

.nav__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.nav__logo {
    height: 2.5rem;
    width: auto;
}

.nav__menu {
    display: none;
}

.nav__btn--contact {
    display: none;
    background-color: var(--color--primary-07);
    color: var(--color--neutral-00);
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0.5rem 2rem;
}

.nav__btn--contact:hover,
.overlay__btn--contact:hover {
    background-color: var(--color--primary-08);
}

.nav__btn--contact:active,
.overlay__btn--contact:active {
    background-color: var(--color--primary-09);
}

.nav__btn--toggle {
    background-color: transparent;
}

.nav__btn--toggle:hover {
    background-color: var(--color--neutral-02);
}

.nav__btn--toggle:active {
    background-color: var(--color--neutral-03);
}

.nav__btn--burger {
    fill: var(--color--neutral-06);
}


/* ========================
   OVERLAY MENU
======================== */
.overlay {
    position: fixed;
    inset: 0;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 3.5rem;
    background-color: var(--color--neutral-01);

    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.overlay--active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.overlay__head {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.overlay__btn--close {
    fill: var(--color--neutral-06);
}

.overlay__btn--close {
    fill: var(--color--neutral-06);
}

.overlay__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nav__menu,
.overlay__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.nav__menu {
    display: none;
}

.nav__item,
.overlay__item {
    list-style: none;
}

.nav__item-link,
.overlay__item-link {
    display: block;
    text-decoration: none;
    color: var(--color--neutral-05);
    font-weight: var(--font-family--base--medium);
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    padding: 0.5rem 1rem;
}

.nav__item-link:hover,
.overlay__item-link:hover {
    background-color: var(--color--neutral-02);
}

.nav__item-link:hover,
.overlay__item-link:active {
    background-color: var(--color--neutral-03);
}

.overlay__btn--contact {
    width: 15rem;
    background-color: var(--color--primary-07);
    font-size: var(--btn--medium--font-size);
    line-height: var(--btn--medium--line-height);
    padding: var(--btn--medium--padding);
    text-decoration: none;
    color: var(--color--neutral-00);
}

.overlay__social-media {
    display: flex;
    gap: 0.75rem;
}

.overlay__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: var(--color--neutral-02);
}

.overlay__social-link-icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color--neutral-06);
}

.overlay__social-link:hover {
    background-color: var(--color--neutral-03);
    transform: scale(1.050);
}

.overlay__social-link:active {
    background-color: var(--color--neutral-04);
}

.contact__btn:hover {
    background-color: var(--color--neutral-02);
    transform: scale(1.080);
}

.contact__btn:active {
    background-color: var(--color--neutral-04);
}


/* ========================
   SERVICE CARD
======================== */
.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color--neutral-02);
    padding: 2.5rem 1.5rem;
    border-radius: 0.125rem;
}

.service-card__title {
    font-family: var(--font-family-base);
    font-weight: var(--font-family--base--semi-bold);
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color--primary-07);
}

.service-card__description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-family--base--medium);
    color: var(--color--neutral-05);
}


/* ========================
   PROJECT CARD
======================== */
.project-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 2rem 1rem;
    background-color: var(--color--neutral-08);
    text-decoration: none;
    transition: transform 0.3s ease;

    --project-card--chip-bg: var(--color--neutral-07);
}

.project-card__head {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.project-card__icons {
    position: relative;
    width: 2rem;
    height: 2rem;
}

.project-card__icon-arrow,
.project-card__icon-link {
    position: absolute;
    width: 2rem;
    height: 2rem;
    transition: opacity 0.3s ease, transform 0.6s ease;
    fill: var(--color--primary-05);
}

.project-card__icon-arrow {
    opacity: 1;
}

.project-card__icon-link {
    opacity: 0;
}

.project-card:hover .project-card__icon-arrow {
    opacity: 0;
}

.project-card:hover .project-card__icon-link {
    opacity: 1;
}

.project-card__title {
    font-family: var(--font-family--display);
    font-weight: var(--font-family--display-weight);
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--color--neutral-02);
}

.project-card__description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    color: var(--color--neutral-04);
}

.project-card__img {
    height: 8.75rem;
    width: auto;
}

.project-card__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
}

.chip {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    color: var(--color--neutral-04);
    background-color: var(--project-card--chip-bg);
    border-radius: 0.125rem;
}

.project-card:hover {
    background-color: var(--color--neutral-07);
    transition: transform 0.2s ease, background-color 0.2s ease;

    --project-card--chip-bg: var(--color--neutral-06);
}

.project-card:active {
    background-color: var(--color--neutral-06);

    --project-card--chip-bg: var(--color--neutral-05);
}


/* ========================
   FOOTER
======================== */
.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--color--neutral-07);
    transition: transform 0.3s ease;
}

.footer__social-link:hover {
    background-color: var(--color--neutral-06);
    transform: scale(1.050);
}

.footer__social-link:active {
    background-color: var(--color--neutral-08);
}

.footer__social-link-icon {
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
}